<!-- Main Navigation-->
<div class="ui container">
  <div class="ui large secondary pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="active item">Leaderboard</a>
      <a class="item">Search</a>
      <a class="item">Upcomming</a>
      <a class="item">Season</a>
  </div>
</div>

<!-- Floating Navigation-->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Leaderboard</a>
    <a class="item">Search</a>
    <a class="item">Upcomming</a>
    <a class="item">Season</a>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Leaderboard</a>
  <a class="item">Search</a>
  <a class="item">Upcomming</a>
  <a class="item">Season</a>
</div>