<!-- Main Navigation-->
<div class="ui container">
  <div class="ui large secondary pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
      <a class="{% if '/' == request.path %}active{% endif %} item" href="{% url 'leaderboard' %}">Leaderboard</a>
      <a class="{% if '/team/search' == request.path %}active{% endif %} item" href="{% url 'team_search' %}">Search</a>
      <a class="item">Upcomming</a>
      <a class="item">Season</a>
  </div>
</div>

<!-- Floating Navigation-->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="{% if '/' == request.path %}active{% endif %} item" href="{% url 'leaderboard' %}">Leaderboard</a>
    <a class="{% if '/team/search' == request.path %}active{% endif %} item" href="{% url 'team_search' %}">Search</a>
    <a class="item">Upcomming</a>
    <a class="item">Season</a>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="{% if '/' == request.path %}active{% endif %} item" href="{% url 'leaderboard' %}">Leaderboard</a>
  <a class="{% if '/team/search' == request.path %}active{% endif %} item" href="{% url 'team_search' %}">Search</a>
  <a class="item">Upcomming</a>
  <a class="item">Season</a>
</div>